* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

nav {
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex: 0;
    box-sizing: border-box;
}

nav a {
    flex: 1;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a:hover, a.active {
    color: black;
}

a.link {
    color: orange;
    
}

h1 {
    flex: 0;
    text-align: center;
}

main {
    padding: 16px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

main p {
    text-align: center;
}

footer {
    background-color: orangered;
    padding: 16px;
    flex: 0;
}

footer p {
    margin: 0;
}